# A linha abaixo determina que o diretório node_modules não será enviado ao repositório remoto
node_modules
package-lock.json
config.js

site/database/config.js
site/node_modules
site/package-lock.json

.github
